<!DOCTYPE>
<html>
<head>
	<title>Gnibl|About></title>
</head>
<body>
<h1>About Gnibl</h1>
<p>Gnibl is a social network that allows you to recommend and share amazing experiences in your life!</p>
</body>
</html>