</DOCTYPE html>
<html>
<head>
	<title>Gnibl|The Team</title>
</head>

<body>
<h1>The Team</h1>
<h2>Alvin Katto</h2>
<p1> I am a 4th year master's student from Imperial College. I love a good book about knights and damsels. </p1>
<h2>Edwin Maganjo</h2>
<p1> I am a 3rd year student from Birmingham university. I love fries! </p1>
<h2>Abey Phillip</h2>
<p1> I am a Warwick University graduate. I love playing cricket. </p1>
</body>
</html>

